<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <app-banner></app-banner>
    </div>

    <div *ngIf="cadastro; else formLogin">
      <div 
        (@animacao-painel.start)="inicioDaAnimacao" 
        (@animacao-painel.done)="fimDaAnimacao" 
        class="col-sm-6 d-flex justify-content-start" 
        [@animacao-painel]="estadoPainel"
      >
        <app-cadastro (exibirPainel)="exibir($event)"></app-cadastro>
      </div>
    </div>

    <ng-template #formLogin>
      <div 
        (@animacao-painel.start)="inicioDaAnimacao" 
        (@animacao-painel.done)="fimDaAnimacao" 
        class="col-sm-6 d-flex justify-content-start" 
        [@animacao-painel]="estadoPainel"
      >
        <app-login (exibirPainel)="exibir($event)"></app-login>
      </div> 
    </ng-template>
     
  </div>
</div>